<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Add a drone</title>

    <script type="text/javascript">
        function Submit() {
            console.log("hejsan")
            var ip_address = document.getElementById("ip_address").value;
            var car_name = document.getElemenyById("name").value
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                try{
                    var resp = this.responseText;
                    alert(resp);
                }
                catch(err){
                    alert(this.responseText);
                }
                }
            };
            xhttp.open("POST", "http://192.168.0.2:5003/new_car", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.send(JSON.stringify({ ip: ip_address, name: car_name }));
            console.log("hej2");
        }
    </script>
</head>
<body>
    <a href="/">Home</a>
    <form action="javascript:Submit()">
        <label for="IP">Last number of IP</label><br>
        <input type="text" id="ip_address"><br>
        <input type="text" id="name"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>