<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <meta charset="utf-8">
  <title>Drone in ukraine</title>

  <script> //MARKERS/ICONS
    var field = L.icon({
      iconUrl: 'static/images/field.png',
      
      iconSize:     [40, 50], // size of the icon
      iconAnchor:   [17.5, 25], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, -25] // point from which the popup should open relative to the iconAnchor
    });
    
    var hospital = L.icon({
      iconUrl: 'static/images/hospital.png',
      
      iconSize:     [40, 50], // size of the icon
      iconAnchor:   [17.5, 25], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, -25] // point from which the popup should open relative to the iconAnchor
    });
    
    var drone = L.icon({
      iconUrl: 'static/images/drone.png',
      
      iconSize:     [40, 50], // size of the icon
      iconAnchor:   [17.5, 25], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, -25] // point from which the popup should open relative to the iconAnchor
    });
  </script>
</head>

<body>
  <a href="/addDronePage">Add a new drone</a>
  <a href="/booking">Book supplies</a>

  <div id="map" style="height: 720px; width: 1200px;"></div>

  <div id="text"></div>
  <script>
    var map = L.map('map').setView([50.130673, 36.224064], 9);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  
    //L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map);
    var hospitalMarker = L.marker([49.97425, 36.1960665], {icon: hospital}).addTo(map);
    var droneMarkers = {};
    var drone_count = 0;    
    var fieldMarker = L.marker([50.361825, 35.915570], {icon: field}).addTo(map);
    var fieldMarker2 = L.marker([50.286543, 36.941948], {icon: field}).addTo(map);
    
    //setLatLng(<LatLng> latlng);
      
    hospitalMarker.bindPopup("<b>Charkiv hospital</b>");
    fieldMarker.bindPopup("<b>Field hospital</b>");
    fieldMarker2.bindPopup("<b>Field hospital</b>");
    
    var circle = L.circle([49.97425, 36.1960665], {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.2,
      radius: 100000
    }).addTo(map);
  </script>

  <script type="text/javascript">
    function LoadDrone(droneIP, long, lat, status, battery) {
      var doc = document.getElementById("map");
      $( doc ).ready(function() {
        //console.log(droneIP);
        if (droneIP in droneMarkers) {
          if (status != "idle") {
            droneMarkers[droneIP].setLatLng(L.latLng(parseFloat(long), parseFloat(lat)));
          } 
        } else {
          droneMarkers[droneIP] = L.marker([long, lat], {icon: drone}).addTo(map);
        }
        droneMarkers[droneIP].bindPopup(
              "<b>IP: "+droneIP + "<br>Battery: "+ battery +"%<br>Status: " + status + "<b>"
            )
      })
    }
  </script> 

  <script>
    var set_delay = 50,
    callout = function () {
      $.ajax({
        url: 'http://127.0.0.1:5000/get_drones'
      })
      .done(function (server_response) {
        drone_count = 0;
        var available_drones = Object.keys(server_response)
        for (const droneIP of available_drones){
          var long = server_response[droneIP].longitude
          var lat = server_response[droneIP].latitude
          var status = server_response[droneIP].status
          var battery = parseInt(server_response[droneIP].battery)
          if (status == "idle") {
            drone_count += 1;
          }
          console.log(droneIP)
          LoadDrone(droneIP, long, lat, status, battery)
        }
        document.getElementById("text").innerHTML = "<h2>Available drones: " + drone_count + "</h2>";
      })
      .always(function (server_response) {
        setTimeout(callout, set_delay);
      });
    };
    callout();
  </script>


</body>
</html>